@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

*{
    padding: 0;
    margin:0 auto;
    
    position: relative;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

.container{
    margin: 1rem;
    text-align: center;
}

:root{
    --primary-color: purple !important;
    --secondary-color: black;
    --text-color: whitesmoke;
}

.dark {
    background-color: #333;
    color: #fff;
}

.light {
    background-color: #fff;
    color: #333;
}

header{
    display:inline-block;
    align-items:center;
    justify-content: space-between;
    height:80px;
    padding:0 2rem;
    background-color: var(--primary-color);
    color:var(--text-color);
}
nav a {
    margin: 0 2rem;
    display: inline-block;
    color: var(--text-color);
    text-decoration: none;
    font-size: 40px;
    font-weight: 700;
    gap: 2.5rem;
    margin-left: 15px;
}

nav a:hover {
    color:rgb(226, 43, 119);
}
header .nav-btn{
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--text-color);
    visibility: hidden;
    opacity: 0;
    font-size: 1.5rem;

}
#m{
    visibility: hidden;
}

nav-close-btn{
    position: absolute;
    top:2rem;
    right:2rem;
    color: black;
}
.upbtn{
    top:120px;
    min-height: 200px;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 15px;
}
.cloud{
    color: rgb(0, 102, 26);
    background: -webkit-linear-gradient(top,#099,#066);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    color: #4a89dc;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 130px;
    display: block;
    margin-top: 25px;
    margin-bottom: 6px;
    transition: .5s;
}
.cloud:hover{
    color: #066;
}
.pcloud{
    font-size: 25px;
    font-weight: lighter;
}

.selector{
    font-weight: 900;
    padding: 10px 16px;
    font-size: 17px;
    line-height: 1.33;
    border-radius: 7px;
    cursor: pointer;
    display: block;
    margin-bottom: 25px;
    box-sizing: border-box;
    font-size: 25px;
    color: var(--text-color);
    border: #333;
    background-color:#a79090;
    transition: .5s;
}
.small{
    margin-left: 12px;
}
.selector:hover{
    background-color: whitesmoke;
    color: black;
    font-size: 30px;
    box-shadow: rgba(3, 102, 214, 0.8) 0px 0px 0px 3px;
    
}

.cloud2{
    color:#333;
    display: inline-block;
    text-align: center;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #333;
    background-color: aliceblue;
}

/*small screens*/
@media only screen and (max-width: 925px) {
    .logo{
        cursor: pointer;
        margin-right: 10px;;
    }

    header .nav-btn{
        visibility: visible;
        opacity: 1;
    }
    nav a{
        float: left;
        display: inline-block;
        margin:1px;

    }
    header nav{
        position: fixed;
        top:0;
        left:0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        background-color: var(--primary-color);
        transition: 1s;
        transform: translateY(-100vh);
    }

    header .responsive_nav{
        transform: none;
    }
    nav-close-btn{
        position: absolute;
        top:2rem;
        right:2rem;
        color: black;
        
    }
    nav a {
        font-size: 1.5rem;
    }
    nav menu1{
        flex: 1;
        text-align: right;
    }
    .menu1{
        background: linear-gradient(rgba(133, 122, 122, 0.9), rgba(197, 188, 188, 0.8));
        position: fixed;
        top: 0;
        left: auto;
        width: 150px;
        border-radius:10px ;
        height: auto;
        padding-top: 10px;
        z-index: 2;
        transition:eas right 0.9s;
    }
    #m{
        bottom: 40px;
        left:150px;
        font-size:20px;
        visibility: visible;
    }
}